@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

body {
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

main {
    margin: auto;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
}

#eyebrow {
    color:  hsl(228, 12%, 48%);
    text-transform: uppercase;
}

p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

#t-product {
    color: (212, 21%, 14%);
    font-family: 'Fraunces', serif;
}

#price {
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

#old-price {
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

img {
    width: auto;
}

button {
    border: none;
    box-shadow: none;
    color: white;
    border-radius: 0.75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: hsl(158, 36%, 37%);
}
